# Development Stuff
*.log
.DS_Store
.next
node_modules
.vercel

# Private Stuff
.env.local
public/sitemap.xml

# Service Worker Stuff
**/public/workbox-*.js
**/public/workbox-*.js.map
**/public/worker-*.js
**/public/worker-*.js.map
**/public/sw.js
**/public/sw.js.map